.headLine{
    background-color: rgba(131, 1, 170, 0.647);
    padding: 8px;
}
.head{ 
    display: inline;
    padding: 10px;
}
.headText{
    color:white;
    display: inline;
    padding: 0px 10px 0px 10px;
}
h2{
    font-family: "Nano-Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
p, ul{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;

}
body{
    text-align: center;
}
article{
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
}
header{
    background-image: url("images/dogsPlaying.jpg");
    text-align: center;
    background-size:cover;
    background-position: center;
    color:white;
}
